html,body {overflow-x: hidden;}

hr {
    width: 20%;
    border-width: 3px;
    border-radius: 50px;
    border-color: #cacaca4d;
}

hr.underline {
    width: 140px;
    position: relative;
    bottom: 8px;
    background-image: linear-gradient(90deg,rgb(228, 101, 233), rgb(116, 184, 240));
    border: none;
    height: 5px;
    border-radius: 50px;
}

hr.navline {
    width: 0px;
    position: relative;
    bottom: 20px;
    right: 3px;
    background-color: rgb(201, 71, 149);
    border: none;
    height: 2px;
    border-radius: 50px;
    transition: 300ms;
}

.signup {
    background-color: none;
    color: rgb(216, 216, 216);
    font-size: 20px;
    border-style: none;
    padding: 10px 15px;
    margin-right: 10px;
    transition: 300ms;
}

.signup:hover {
    font-size: 20px;
    color: rgb(201, 71, 149);
    transition: 300ms;
}

.signup:hover+hr.navline {
    width: 80px;
    transition: 300ms;
}

body {
    background-color: #ffffff;
    background-image: url("img/login\ background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
  }
.logout {
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
    /* margin: 10px, 20px; */
    background: none;
    /* position: absolute; */
    /* left: 20px;
    top: 10px; */
    color: rgb(216, 216, 216);
    cursor: pointer;
}

.logout:hover {
    color: rgb(247, 245, 245);
}

input {
    outline:none;
   }
   
.header {
    height: 200px;
    background-repeat: no-repeat;
    
}

@media only screen and (max-width: 527px) {
    .header {
        height: 250px;
    }
}
.header-head {
    color: rgb(58, 57, 58);
    font-weight: 300;
}

#project, #title, #description, #issuedby {
    border: none;
    margin: 5px;
    background-color: rgba(94, 94, 94, 0);
    border-bottom: solid;
    border-color: rgba(201, 201, 201, 0.363);
    color: rgb(199, 199, 199);
    padding: 2px;
}

.add {
    font-size: 30px;
    color: rgb(114, 114, 114);
    padding: 0 15px 6px 15px;
    margin-left: 26px;
    position: relative;
    top: 0px;
    border-style: solid ;
    border-width: 1px;
    cursor: pointer;
    transition: 300ms;
}

.add:hover {
    color: rgb(223, 221, 221);
    background-color: rgb(136, 136, 136);
    border-color: rgb(146, 146, 146);
    transition: 300ms;
}

.project-list {
    list-style: none;
    padding: 0px;
    padding-top: 20px;
    /* background-color: rgb(233, 235, 235); */
}

.project-element, .selected {
    padding-right: 10px;
    padding-left: 5px;
    color: rgb(113, 116, 116);
    margin: 0px 0 15px 25px;
    text-align: left;
    cursor: pointer;
    display:inline-block;
    transition: 500ms;
}

.project-element:hover {
    /* transition: 1000ms; */
}

#left-side {
    margin-left: 15px;
    align-items: center;
}

#project-input{
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
}

.submit-project {
    border: solid;
    border-color: rgba(97, 97, 97, 0);
    border-width: 1px;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgb(201, 222, 235);

}

.submit-project:hover {
    background-color: rgb(189, 188, 188);
}

.selected {
    box-shadow: none;
    background-color: rgb(203, 252, 252);
    cursor: pointer;
}

#left-side {
    padding: 0;
}

.main-area {
    /* background-color: rgba(223, 223, 223, 0); */
}

.tweet {
    background-color: rgba(236, 235, 235, 0.199);
    max-width: 800px;
    border-radius: 10px;
}

.remove-tweet {
    color: rgb(168, 168, 168);
    border-radius: 50%;
    transition: 250ms;
    padding: 5px 13px;
    float: right;
    margin-top: 7px;
    background-color: rgba(189, 188, 188, 0.582);
}

.remove-tweet:hover {
    background-color: rgba(255, 77, 77, 0.89);
    color: rgb(245, 244, 244);
    /* font-size: 25px; */
    transition: 100ms;
    /* border-bottom: solid 2px; */

    /* box-shadow: 0px 0px 5px 0px #646464; */
}

.bug {
    width: 50px;
    margin: 1px 20px 4px 0;
    background: rgb(226, 226, 226);
    padding: 5px;
    border-radius: 25px;
    opacity: 0.5;
    float: left;
}

.title {
    font-size: 14px;
    position: relative;
    top: 5px;
    width: 300px;
}

.tweet-name {
    color: rgb(46, 46, 46);
    font-weight: bold;
    position: relative;
    top: 9px;
}

.tweet-project {
    color: rgba(46, 46, 46, 0.76);
    position: relative;
    top: 3px;
    font-size: 13px;
}

.tweet-id {
    color: rgba(255, 99, 71, 0);
    cursor: default;
}

/* Comment box */

.show-comment-button {
    color: rgb(8, 102, 102);
    cursor: pointer;
}

.show-comment-button:hover {
    text-decoration: underline;
}

.comment-box {
    /* background-color: #e6e6e6d7; */
    /* background-image: linear-gradient(180deg, rgba(146, 145, 145, 0), rgba(255, 255, 255, 0)); */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.input {
    margin-top: 10px;
}

.add-comment {
   border: solid;
   width: 450px;
   border-radius: 15px;
   border-width: 1px;
   border-color: rgb(201, 200, 200);
   padding-left: 10px;
   padding-bottom: 3px;
   color: rgba(39, 39, 39, 0.849);
}
.submit-comment {
    border-radius: 11px;
    height: 27px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px;
    position: relative;
    bottom: 2px;
    background-color: rgba(113, 114, 114, 0.589) ;
    border-width: 0;
}

.submit-comment:hover {
    background-color: rgba(113, 114, 114, 0.973)
}

.comment-title {
    padding: 2px 15px 2px 15px;
    border-left: solid;
    border-color: rgba(187, 187, 187, 0.363);
    border-width: 2px;
}

.bug2 {
    width: 30px;
}

.comment-name {
    margin-left: 3px;
    font-weight: 500;
   
}

@media only screen and (max-width: 910px) {
    .add-comment {
        width: 320px;
    }
}
@media only screen and (max-width: 671px) {
    .add-comment {
        width: 255px;
    }
}
@media only screen and (max-width: 575px) {
    .add-comment {
        width: 320px;
    }
}

.comment {
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 35px;
}

/* footer */

.footer {
    background-color: none;
    color: rgb(37, 37, 37);
    padding: 30px;
    font-size: 40px;
}
